<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="/main">
				<i title="Home" class="fas fa-home"></i>
			</a>
		</li>
	</ul>
	<span class="navbar-text"><%=user.username%></span>
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="/main/settings">
				<i title="Impostazioni" class="fas fa-cog"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/logout">
				<i title="Logout" class="fas fa-sign-out-alt"></i>
			</a>
		</li>
	</ul>
</nav>